@{
    ViewBag.Title = "ShowUserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles for @ViewBag.UserName</h2>
<div class="spacer"></div>
@Html.Partial("_AlertMsgPartial")

<ul>
    @foreach (var role in ViewBag.Roles)
    {
        <li>@role</li>
    }
</ul>

@if (ViewBag.Roles.Count == 0)
{
    <p>This user has no role.</p>
}

<div class="spacer"></div>
@Html.ActionLink("Back to manage user roles", "ManageUserRoles")
