@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    From our first auxiliary hospital built in 1955, The Good Samaritan Society has
    grown to over 54 sites and programs that serve more than 6,000 individuals.
    Inspired by the parable of the Good Samaritan, we provide complex/long term care,
    assisted/supportive living and other specialized health care services for the elderly
    and the physically and mentally challenged, regardless of race or religious belief.
</p>
<p>
    The Society receives all clients with honour and respect and offers them the care
    and support they need. Housing options, care programs and services are provided in a
    wide range of environments, including:
    <ul>
        <li>Alzheimer/Dementia Care Programs</li>
        <li>Assisted/Supportive Living</li>
        <li>Community Short-Stay/Respite Programs</li>
        <li>Complex/Long Term Care</li>
        <li>Corporate and Administrative Services</li>
        <li>Day Programs</li>
    </ul>
</p>
<p>
    The Good Samaritan Society is committed to providing a quality of care and support 
    that will enable the elderly and the physically and mentally challenged to experience 
    an optimum quality of life. Security, independence and a sense of belonging are 
    enjoyed by clients in Good Samaritan facilities and programs. As a leading provider 
    of housing and health care support, The Good Samaritan Society has played a key role 
    in the development of new and innovative programs – programs that have become industry 
    standards throughout Canada.
</p>
