@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    8861 75 Street<br />
    Edmonton, AB T6C 4G8<br />
    Phone: (780) 431-3600
    Toll Free: 1-877-437-3600
    Email: goodsaminfo@gss.org    
</address>

<address>
    <strong>BC Regional Office:</strong>   (250) 862-3440<br />
    <strong>Communications:</strong>       (780) 431-3700
</address>