@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Good Samaritan Society</h1>
    <p class="lead">The Good Samaritan Society is a not-for-profit charity with over 65 years of history.</p>
    <p><a href="https://www.gss.org/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Highlight</h2>
        <p>
            The Good Samaritan Society is a not-for-profit charity that has over 65 years of 
            experience in providing complex/continuing care, assisted/supportive living and 
            other specialized health and community care services in innovative and caring 
            environments. Our mission is to extend Christian Hospitality through a continuum 
            of care to those in need or at risk, regardless of race or religious belief.
        </p>
        <p><a class="btn btn-default" href="https://www.gss.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <dl>
            <dt>2015 Spirit of Caring Golf Classic</dt>
            <dd>
                Tee off with us at The Quarry Golf Club in Edmonton on Thursday, June 11, 2015!
                We invite you to register early as the event has sold out in the past.
                Sponsorship opportunities are now available, click here to view, and new this
                year, sponsors can now sign up and pay online.  Follow us on Facebook Spirit of
                Caring Golf Classic for the latest news on this major fundraising event for The
                Good Samaritan Society.
            </dd>
        </dl>
        <p><a class="btn btn-default" href="https://www.gss.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Volunteer</h2>
        <p>Providing service support to our clients and residents, volunteers play a major role in 
        the quality of life provided to individuals in our care. Over 1,700 volunteers of The Good 
        Samaritan Society contribute to assist us in providing care to over 6,000 clients.</p>
        <p><a class="btn btn-default" href="https://www.gss.org/give-your-time/">Learn more &raquo;</a></p>
    </div>
</div>